.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App-logo {
  width: 100%;
  height: 100vh;
  object-fit: cover; 
  pointer-events: none;
}
